@page "/allproducts"
@using ProductCard.Data;
@using ProductCard.Models;
@inject ProductService productService;


<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3 class="text-center m-3">Our Products</h3>
            <br />
            <br />

            @if (productList == null || productList.Count == 0)
            {
                <p>No Products to Display</p>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="color: rgba(131, 58, 180, 1);" class="m-3">Name</th>
                            <th style="color: rgba(131, 58, 180, 1);">Price</th>
                            <th style="color: rgba(131, 58, 180, 1);">Image</th>
                            <th style="color: rgba(131, 58, 180, 1);">Add</th>
                        </tr>
                    </thead>
                    @foreach (var product in productList)
                    {
                        <tr>
                            <ProductItem Product="product" ></ProductItem>
                        </tr>
                    }
                </table>

            }
        </div>
    </div>
</div>



@code {

    private List<Product> productList;

    private bool displayProducts = true;

    protected override void OnInitialized()
    {
        productList = productService.GetProducts();
        base.OnInitialized();
    }

    private void DeleteProduct(string productId)
    {
        productService.DeleteProduct(productId);
        productList.RemoveAll(a => a.ProductName == productId);
    }
}
