@using ProductCard.Data;
@using ProductCard.Models;
@inject ProductService productService;

<div class="container">
    @foreach (var product in productList)
    {
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="@product.Image" style="width: 200px; height: 200px;" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p class="m-3 align-items-center"><b>@product.ProductName</b></p>
                <div class="m-3">
                    <select id='number-dd-@product.ProductId' name='number'>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                    </select>
                    <a href="/EditItem"> 
                        <i class="fas fa-pencil-alt m-3"></i>
                        </a>
                    <a href="/DeleteItem">
                        <i class="fas fa-times m-3"></i>
                    </a>
               
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p class="m-5"><b>$@product.Price</b></p>
            </div>
        </div>
        <hr style="color:rgba(131,58,180,1); "/>
    }
</div>


@code{

    private List<Product> productList;

    protected override void OnInitialized()
    {
        productList = productService.GetProducts();
        base.OnInitialized();
    }
}