

<nav class="navbar navbar-light bg-light justify-space-between"
     style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(217,108,233,1) 100%, rgba(252,176,69,1) 100%); color:aliceblue;">
    <a class="navbar-brand" href="./productlist" ml-5>
        <i class="fa-solid fa-chevron-left sm:text-left text-white m-5"></i>
    </a>
    <a class="navbar-brand text-white" href="#">My Cart</a>
    <button class="navbar-toggler m-5" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./productlist">Product List <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./add-product">Add Product</a>
                </li>
            </ul>
        </div>
</nav>


